{% extends "Administrador/index.html" %}
{% load static %}

{% block title %}
    Catálogo de Libros - BIBLIOTECA SaBré
{% endblock title %}

{% block codigoDinamico %}
<main class="main-content">

    <section class="products-section">

        <div class="products-header">

            <h1 class="section-title uppercase tracking-wider">
                NUESTROS LIBROS
            </h1>

            <div class="products-actions">

                <a href="{% url 'crear_libros' %}" class="btn-nuevo-libro">
                + Nuevo Libro
                </a>
                <a href="{% url 'buscar_libros' %}" class="btn-buscar-libros">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    Buscar
                </a>

            </div>

        </div>

        <div class="table-container">

            <table class="products-table">

                <thead>

                    <tr>

                        <th class="th-id">
                            ID
                        </th>

                        <th>
                        Título del Libro          
                        <th>
                        Autor
                        </th>

                        <th class="th-acciones">
                            Acciones
                        </th>

                    </tr>

                </thead>

                <tbody>

                    {% for p in libros %}

                    <tr>

                        <td class="td-id">
                            {{ forloop.counter }}
                        </td>

                        <td class="td-nombre">
                            {{ p.titulo_libro }}
                        </td>

                        <td>
                            {{ p.autor }}
                        </td>

                        <td class="td-acciones">

                            <div class="action-buttons-group">

                                <a href="{% url 'editar_libro' p.id %}" class="btn-editar">
                                    Editar
                                </a>

                                <a href="{% url 'eliminar_libro' p.id %}" class="btn-eliminar">
                                    Eliminar
                                </a>

                            </div>

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="4">
                            No hay libros disponibles.
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </section>

</main>

{% endblock codigoDinamico %}